@if (dataSource) {
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Foto</th>
    <td mat-cell *matCellDef="let row">
      <img [ngSrc]="row.image?.url" width="60" height="90" priority="true">
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="header-align-right">
      Acciones
    </th>
    <td mat-cell *matCellDef="let row" class="header-align-right">
      <button mat-icon-button (click)="onClickEdit.emit(row.id)">
        <mat-icon class="color-info">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openConfirmDialog(row)">
        <mat-icon class="color-delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matNoDataRow>
    <td [attr.colspan]="displayedColumns.length" class="p-2 has-text-centered"
      [ngClass]="{'table-loader': (isLoading$ | async)}">
      {{ (isLoading$ | async) ? '' : 'No se ha encontrado heroes.' }}
    </td>
  </tr>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5,10,25]"
  aria-label="Select page of results"></mat-paginator>
}