@if (dataSource) {
<table mat-table [dataSource]="dataSource">

  <!-- Title Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <img [ngSrc]="row.image?.url" width="90" height="110" priority="true">
    </td>
  </ng-container>

  <!-- Created Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      Acciones
    </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onClickEdit.emit(row.id)">
        <mat-icon class="color-info">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="color-delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matNoDataRow>
    <td [attr.colspan]="displayedColumns.length" [ngClass]="{'table-loader': (isLoading$ | async)}">
      {{ (isLoading$ | async) ? '' : 'No se ha encontrado heroes' }}
    </td>
  </tr>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="dataSource.data.length" [pageSize]="7" aria-label="Select page of results"></mat-paginator>
}