table, mat-paginator
  color: #673ab7 !important
  border: 1px solid #cecece !important
  th, td
    vertical-align: middle
  thead>tr>th
    background-color: #683ab7b4 !important
    color: white
    font-weight: bold !important
    font-size: 18px
